canvas:focus {
  outline: none
}

.tippy-box[data-theme~='tomato'] {
  background-color: rgba(247, 196, 66, 0.65);
  color: #080808;
  border-radius: 0;
  line-height: 1.6;
  padding: 0.5em;
}

.tippy-box[data-theme~='tomato'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: rgba(247, 196, 66, 0);
}

div {
  white-space: pre-wrap;
} 

.bio{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff
}

.bio-header{
  font-size: 48px;
  font-weight: 600;
  letter-spacing: .05em;
}

.bio-body{
  font-size: 14px;
  font-weight: 200;
  padding-top: 1em;
  line-height: 2.1;
  font-family: sans-serif;
  color: #888;
}

.right-align{
  display: flex;
  flex-direction: row-reverse;
}

.journey-header{
  font-size: 48px;
  font-weight: 600;
  letter-spacing: .05em;
  color: #fff;
}

.close-page{
  font-size: 18px;
  font-weight: 200;
  letter-spacing: .05em;
  color: #fff;
}